{% load static wagtailcore_tags %} {% load static %} {% load waitlist_form %} {% get_waitlist_form as form %}


<form action="{% pageurl form.page %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6 form-wrapper">
            <label for="id_first_name" class="form-label">First name</label>
            <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Enter first name">
        </div>
        <div class="col-sm-6 form-wrapper">
            <label for="id_last_name" class="form-label">Last name</label>
            <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Enter last name">
        </div>
        <div class="col-sm-6 form-wrapper">
            <label for="id_company" class="form-label">Company name</label>
            <input type="text" name="company" id="id_company" class="form-control" placeholder="Name of company">
        </div>
        <div class="col-sm-6 form-wrapper">
            <label for="id_email" class="form-label">Email</label>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="name@company.com">
        </div>
        <div class="col-sm-6 form-wrapper">
            <label for="id_role" class="form-label">Role</label>
            <input type="text " name="role" id="id_role" class="form-control" placeholder="Your role in company">
        </div>
        <div class="col-sm-6 form-wrapper">
            <label for="id_remark" class="form-label">Remark</label> <textarea class="form-control" name="remark" id="id_remark" cols="30" rows="2" placeholder="Help make the product better."></textarea>
        </div>
    </div>
    <input type="submit" value="Join waitlist" class="btn btn-primary form-button">
</form>